body {
  font-family: Arial, Helvetica;
  font-size: 16px;
  background-color: #b3b3b3; }

input,
button {
  outline: none; }

div[contentEditable=true] {
  outline: none;
  border-bottom: 2px solid purple; }

.changeView {
  position: absolute;
  color: #d9d9d9; }

#changeView {
  text-decoration: none; }
  #changeView:hover {
    color: white; }

#changeView[data-toggle=true] {
  color: #b3b3b3; }
  #changeView[data-toggle=true]:hover {
    color: #666666; }

.wrapper {
  width: 30%;
  margin: 0 auto;
  background-color: whitesmoke;
  height: 600px;
  overflow: hidden;
  border-radius: 5px; }
  .wrapper #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    position: relative;
    transition: box-shadow 250ms;
    z-index: 2; }
    .wrapper #header #to-do {
      width: 100%;
      padding: 10px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
      border: 0;
      transition: box-shadow 150ms ease-out;
      box-shadow: 0 2px 2px #cccccc; }
      .wrapper #header #to-do:focus {
        box-shadow: 0 2px 2px #8ec2f5; }
    .wrapper #header #add-todo {
      border-radius: 50%;
      border: none;
      background-color: #12ce7e;
      position: absolute;
      right: 16px;
      top: calc(50% - 25px);
      font-size: 2em;
      color: white;
      width: 50px;
      height: 50px;
      box-shadow: 0 2px 2px #cccccc;
      cursor: pointer;
      transition: box-shadow 140ms ease-in-out; }
      .wrapper #header #add-todo:hover, .wrapper #header #add-todo:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 4px #12ce7e; }
  .wrapper .todos {
    padding: 1em;
    height: 500px;
    overflow-y: auto; }
    .wrapper .todos::-webkit-scrollbar {
      width: 6px; }
    .wrapper .todos::-webkit-scrollbar-thumb {
      width: 12px;
      background-color: rgba(85, 85, 85, 0.8);
      border-radius: 8px; }
    .wrapper .todos::-webkit-scrollbar-track {
      width: 8px; }
    .wrapper .todos #freetime {
      color: #b7b7b7;
      text-align: center;
      font-weight: bold;
      line-height: 1.7em; }
    .wrapper .todos .card {
      transform-origin: center center;
      background-color: white;
      box-shadow: 0 2px 2px #cccccc;
      border-radius: 3px;
      padding: 1em;
      width: 90%;
      margin: 0 auto;
      color: #4d4d4d;
      line-height: 1.5em;
      margin-bottom: 1em;
      position: relative;
      overflow: hidden; }
      .wrapper .todos .card:hover > .delete {
        display: block; }
      .wrapper .todos .card:hover > .todo-content {
        width: 80%; }
      .wrapper .todos .card .todo-content {
        overflow-wrap: break-word;
        transition: width 100ms ease-in-out;
        width: 100%; }
      .wrapper .todos .card button.delete {
        background: #e25353;
        border: none;
        font-weight: bolder;
        font-size: 1.5em;
        opacity: .4;
        display: none;
        position: absolute;
        color: whitesmoke;
        top: 0;
        right: 0;
        padding: 0 1em;
        height: 100%;
        z-index: 1;
        transition: opacity 150ms ease-in; }
        .wrapper .todos .card button.delete:hover {
          opacity: 1; }
        .wrapper .todos .card button.delete:active {
          box-shadow: inset 0px 0 6px #00000078; }
    .wrapper .todos .new-todo {
      transform: scale(0.1);
      opacity: 0;
      animation: card 165ms ease-in forwards; }
    .wrapper .todos .card:last-child {
      margin-bottom: 0; }

.beingRemoved {
  transform-origin: center top;
  animation: beingRemoved 400ms ease-in-out forwards; }

@keyframes beingRemoved {
  70% {
    opacity: 1;
    transform: scale(1.05); }
  95% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(0.1); } }
.offsetPadding {
  overflow-y: hidden; }
  .offsetPadding:hover {
    overflow-y: auto;
    padding-right: 10px; }

.header-scrolled {
  box-shadow: 0 2px 2px rgba(204, 204, 204, 0.5); }

@keyframes card {
  to {
    transform: scale(1);
    opacity: 1; } }
@media (max-width: 400px) {
  .wrapper {
    width: 100%; } }
@media (min-width: 400px) and (max-width: 500px) {
  .wrapper {
    width: 90%; } }
@media (min-width: 500px) and (max-width: 800px) {
  .wrapper {
    width: 70%; } }
@media (min-width: 800px) and (max-width: 1150px) {
  .wrapper {
    width: 50%; } }

/*# sourceMappingURL=app.css.map */
