body{
	font-family: Arial, Helvetica;
	font-size: 16px;
	background-color: darken(white, 30%);
}
input, button{
	outline: none;
}
div[contentEditable=true]{
	outline:none;
	border-bottom: 2px solid purple;
}

// Show off purposes ---------------

.changeView{
	position: absolute;
	color: darken(white, 15%);	
}
#changeView{
	text-decoration: none;
	&:hover{
		color:white;
	}
}
#changeView[data-toggle=true]{
	color:lighten(black, 70%);
	&:hover{
		color:lighten(black, 40%);
	}
}

// ------------

.wrapper{
	width: 30%;
	margin: 0 auto;
	background-color: whitesmoke;
	height: 600px;
	overflow: hidden;
	border-radius: 5px;
	#header{
		display: flex;
		flex-direction:row;
		justify-content: space-between;
		padding: 1em;
		position: relative;
		transition: box-shadow 250ms;
		z-index: 2;
		#to-do{
		    width: 100%;
		    padding: 10px;
		    border-top-left-radius: 4px;
		    border-bottom-left-radius: 4px;
		    border-bottom-right-radius: 25px;
		    border-top-right-radius: 25px;
		    border: 0;
		    transition: box-shadow 150ms ease-out;
		    box-shadow: 0 2px 2px #cccccc;
		    &:focus{
    			box-shadow: 0 2px 2px #8ec2f5;
		    }		    
		}
		#add-todo{
		    border-radius: 50%;
		    border: none;
		    background-color: #12ce7e;
		    position: absolute;
		    right: 16px;
		    top: calc(50% - 25px);
		    font-size: 2em;
		    color: white;
		    width: 50px;
		    height: 50px;
		    box-shadow: 0 2px 2px #cccccc;
		    cursor:pointer;
		    transition: box-shadow 140ms ease-in-out;
		    &:hover, &:focus{
		    	box-shadow: 0 0 0 2px white, 0 0 0 4px #12ce7e;
		    }
		}
	}
	

	.todos{

		&::-webkit-scrollbar{
			width: 6px;
		}
		&::-webkit-scrollbar-thumb{
			width: 12px;
			background-color: rgba(85, 85, 85, 0.8);
			border-radius: 8px;
		}
		&::-webkit-scrollbar-track{
			width: 8px;
		}

		padding: 1em;
		height: 500px;
		#freetime{
			color: #b7b7b7;
		    text-align: center;
		    font-weight: bold;
		    line-height: 1.7em;
		}
		.card{
			transform-origin: center center;
			background-color: white;
			box-shadow: 0 2px 2px #cccccc;
			border-radius: 3px;
			padding: 1em;
			width: 90%;
			margin: 0 auto;
			color: lighten(black, 30%);
			line-height: 1.5em;
			margin-bottom: 1em;
			position: relative;
			overflow: hidden;

			&:hover > .delete{
				display: block;
			}

			&:hover > .todo-content{
				width: 80%;
			}

			.todo-content{
				overflow-wrap: break-word;
				transition: width 100ms ease-in-out;
				width: 100%;
			}

			button.delete {
			    background: #e25353;;
			    border: none;
			    font-weight: bolder;
			    font-size: 1.5em;
			    opacity: .4;
			    display: none;
			    position: absolute;
			    color: whitesmoke;
			    top: 0;
			    right: 0;
			    padding: 0 1em;
			    height: 100%;
			    z-index: 1;
			    transition: opacity 150ms ease-in;
			    &:hover{
			    	opacity: 1;
			    }
			    &:active{
			    	box-shadow: inset 0px 0 6px #00000078;
			    }
			}
		}
		.new-todo{
			transform: scale(0.1);
			opacity: 0;
			animation: card 150ms ease-in forwards;
		}
		.card:last-child{
			margin-bottom: 0;
		}
	}
}

.beingRemoved{
	transform-origin: center top;
	animation: beingRemoved 400ms ease-in-out forwards;
}

@keyframes beingRemoved {
	70%{
		opacity: 1;
		transform: scale(1.05);
	}
	95%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: scale(0.1);
	}
}

.offsetPadding{
	overflow-y: hidden;
	&:hover {
		overflow-y: auto;
		padding-right: 10px;
	}
}

.header-scrolled{box-shadow: 0 2px 2px rgba(204,204,204,0.5);}

@keyframes card {
	to{
		transform: scale(1);
		opacity: 1;
	}
}


@media (max-width: 400px) {
	.wrapper{width:100%;}
}

@media (min-width: 400px) and (max-width: 500px) {
	.wrapper{width:90%;}
}

@media (min-width: 500px) and (max-width: 800px) {
	.wrapper{width:70%;}
}

@media (min-width: 800px) and (max-width: 1150px) {
	.wrapper{width:50%;}
}